<a href="https://colab.research.google.com/github/saurater/nlp_deep_learning_with_sam_faraday/blob/main/OOP_with_Sam_and_Josh_Student_NB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

In [ ]:
my_string = "Electric power is not so good in Africa"

In [ ]:
for each_letter in my_string:
  print(each_letter)

In [ ]:
my_string2 =  "Electricity#Power"

In [ ]:
my_list1 = my_string2.split("#")

In [ ]:
my_list1

['Electricity', 'Power']

In [ ]:
my_list1[0]

'Electricity'

In [ ]:
my_list1[1]

'Power'

In [ ]:
len(my_list1)

2

In [ ]:
len(my_string)

39

In [ ]:
# Get the last word in my_list1
my_list1[-1]

'Power'

In [ ]:
my_list1[-2]

'Electricity'

In [ ]:
features , labels = my_list1[0] , my_list1[-6:]

In [ ]:
features

'Electricity'

In [ ]:
labels

['Electricity', 'Power']

In [ ]:
my_string[0:9]

'Electric'

In [ ]:
my_string[:8]

'Electric'

In [ ]:
my_string[:]

'Electric power is not so good in Africa'

In [ ]:
# third character
my_string[2]

'e'

In [ ]:
feature , label = my_string[:8], my_string[-6:]

In [ ]:
feature

'Electric'

In [ ]:
label

'Africa'

# Dataframe

In [ ]:
import pandas as pd

In [ ]:
# Create a Dictionary
my_dict = {
  "Name": ["John", "Mike", "Josh", "Elizabeth"],
  "Age": [10, 12, 14, 94],
  "Country": ["USA", "England", "Nigeria", "England"],

}

In [ ]:
# Convert the Dictionary to DataFrame
my_df = pd.DataFrame(my_dict)

In [ ]:
my_df

        Name  Age  Country
0       John   10      USA
1       Mike   12  England
2       Josh   14  Nigeria
3  Elizabeth   94  England

![image.png]()

In [ ]:
my_df.iloc[0:1, 0:1]

   Name
0  John

In [ ]:
my_df.loc[ my_df["Name"] == "Mike" ]

   Name  Age  Country
1  Mike   12  England

In [ ]:
my_df.loc[ my_df["Country"] == "England" ]

        Name  Age  Country
1       Mike   12  England
3  Elizabeth   94  England

In [ ]:
# Slice the Dataframe

my_features = my_df.iloc[ : , 0: 1]

In [ ]:
my_features

        Name
0       John
1       Mike
2       Josh
3  Elizabeth

In [ ]:
my_features = my_df.iloc[ : , 0: 2]
my_features

        Name  Age
0       John   10
1       Mike   12
2       Josh   14
3  Elizabeth   94

In [ ]:
my_label = my_df.iloc[ : , -1]
my_label

0        USA
1    England
2    Nigeria
3    England
Name: Country, dtype: object

In [ ]:
my_features , my_labels= my_df.iloc[ : , 0: 2] , my_df.iloc[ : , -1]

In [ ]:
my_features

        Name  Age
0       John   10
1       Mike   12
2       Josh   14
3  Elizabeth   94

In [ ]:
my_labels

0        USA
1    England
2    Nigeria
3    England
Name: Country, dtype: object

# Real World

In [ ]:
pip install wget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=8ce0ebab887b364994bce492ce689dd00bbc802ef220e2c4563d6fddbb41c92c
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
import wget

In [ ]:
# download the data
!wget https://github.com/x4nth055/pythoncode-tutorials/raw/master/machine-learning/customer-churn-detection/Churn_Modelling.csv

In [ ]:
import pandas as pd

In [ ]:
my_df_churn_modeling = pd.read_csv("Churn_Modelling.csv")

In [ ]:
my_df_chur_modeling.head(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
my_df_churn_modeling.iloc[ : , 0: 3]

      RowNumber  CustomerId    Surname
0             1    15634602   Hargrave
1             2    15647311       Hill
2             3    15619304       Onio
3             4    15701354       Boni
4             5    15737888   Mitchell
...         ...         ...        ...
9995       9996    15606229   Obijiaku
9996       9997    15569892  Johnstone
9997       9998    15584532        Liu
9998       9999    15682355  Sabbatini
9999      10000    15628319     Walker

[10000 rows x 3 columns]

In [ ]:
features = my_df_churn_modeling.iloc[ : , 3: -1]

In [ ]:
features

In [ ]:
label = my_df_churn_modeling.iloc[ : , -1]

In [ ]:
label

In [ ]:
features, labels = my_df_churn_modeling.iloc[ : , 3: -1], \
                   my_df_churn_modeling.iloc[ : , -1]

# OOP - Object Oriented Programming

An object is a collection of variables and functions and can be used to represent real entities like a button, a fruit or a person. In fact, it can represent anything.

To declare, initialize, and manipulate objects in Python, we use classes. They serve as templates from which objects are created. The following diagram illustrates this idea:

**Variables** are called Properties / Attributes

**Functions** are called Methods

# Class Attribute
We can add attributes to a class using the self parameter along with a name, then we assign it a value.

In this case, name and color are attributes of the class Fruit.

fruitName and fruitColor are paremeters the init function (Constructor) will receive and pass to the attributes.

In [ ]:
class Fruit:
  def __init__(self, fruitName, fruitColor):
    self.name = fruitName
    self.color = fruitColor

In [ ]:
# Instantiate
my_fruit1 = Fruit("Apple", "Red")

In [ ]:
my_fruit1.name

'Apple'

In [ ]:
my_fruit1.color

'Red'

In [ ]:
my_fruit2 = Fruit("Orange", "Green")

In [ ]:
my_fruit2.name

'Orange'

In [ ]:
my_fruit1.name

'Apple'

In [ ]:
my_fruit2.color

'Green'

#  Class Methods

A Class method is like a function. The main difference is that it includes the parameter self.

In [ ]:
class Fruit2:
  def __init__(self, fruitName, fruitColor):
    self.name = fruitName
    self.color = fruitColor
  def  fruit_recommendation(self, fruitTimes):
    print("You should eat ", fruitTimes , " " , self.name, "s a day")

In [ ]:
# Instantiating the Class
my_fruit3 = Fruit2("Banana", "Yellow")
# Please , someone read this line to a 5 year old girl

In [ ]:
my_fruit3.name

'Banana'

In [ ]:
my_fruit3.color

'Yellow'

In [ ]:
my_fruit3.fruit_recommendation(3)

You should eat  3   Banana s a day

# Class Inheritance and Polymorphism

super() function will make the child class inherit all the methods and properties from its parent.

Poly = many
morphism = changes / transformations

In [ ]:
# Parent Class = Fruit2
# Child Class = my_new_type_of_fruit

class my_new_type_of_fruit(Fruit2):
  def __init__(self, fruitName, fruitColor):
    super().__init__(fruitName, fruitColor)
    self.price =  10 # new attribute

In [ ]:
my_fruit4 = my_new_type_of_fruit("Avocado", "Green")

In [ ]:
my_fruit4.name

'Avocado'

In [ ]:
my_fruit4.color

'Green'

In [ ]:
my_fruit4.price

10

In [ ]:
my_fruit4.fruit_recommendation(5)

You should eat  5   Avocado s a day

# Encapsulation and Abstraction
Encapsulation is one of the four fundamental concepts in object-oriented programming including abstraction, encapsulation, inheritance, and polymorphism.

Encapsulation is the packing of data and functions that work on that data within a single object. By doing so, you can hide the internal state of the object from the outside. This is known as information hiding.

A class is an example of encapsulation. A class bundles data and methods into a single unit. And a class provides the access to its attributes via methods.

**Abstraction** - The idea of information hiding is that if you have an attribute that isn’t visible to the outside, you can control the access to its value to make sure your object always has a valid state.

Let’s take a look at an example to better understand the encapsulation concept.

source: https://www.pythontutorial.net/python-oop/python-private-attributes/

In [ ]:
class Employee:
  def __init__(self, name, role,hour_value):
    self.name = name
    self.role = role
    self.hour_value =  hour_value
    self.__wage = 0 # abstraction , 
    # private, hiddin the atrribue wiht double underscore
    self.__worked_hours = 10
  
  # decorator @property
  @property
  def wage(self):
    return self.__wage  

  @wage.setter
  def wage(self, new_wage):
    raise ValueError(" You cannot access wage directly.\
     Please use the internal function")   
  
  def set_worked_hours(self):
    self.__worked_hours +=1

  def calc_wage(self):
    self.__wage = self.__worked_hours * self.hour_value

In [ ]:
josh = Employee("Josh", "Sales Manager", 500)

In [ ]:
josh.name

'Josh'

In [ ]:
josh.role

'Sales Manager'

In [ ]:
josh.hour_value

100

In [ ]:
josh.role = "Director"

In [ ]:
josh.role

'Director'

In [ ]:
josh.wage = 50000

ValueError: ignored

In [ ]:
josh.wage

0

In [ ]:
josh.calc_wage()

In [ ]:
josh.wage

5000